/* BACKGROUND */
body {
	background-color: #662E9B;
	color: white;
}

h4 {
	text-align: center;
}

label {
	color: white;
}

input {
	color: white;
}
/* BUTTONS */
.btn {
	background-color: #F9C80E;
	color: #662E9B;
	position: relative;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
}

.btn:after {
	content: "";
	background: white;
	display: block;
	position: absolute;
	padding-top: 300%;
	padding-left: 350%;
	margin-left: -20px!important;
	margin-top: -120%;
	opacity: 0;
	transition: all 0.8s
}

.btn:active:after {
	opacity: 1;
	transition: 0s;
}

/* NAV BAR STYLING */
.nav-wrapper {
    background-color: #43BCCD;
}

.nav-content {
    background: #f86624;
}

/* HOME PAGE */
.homepic {
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
}

/* POUNDS AWAY FROM GOAL */
.goalweight {
	text-align: center;
	margin: auto;
}

.col {
	width: 20%;
	margin: auto;
}

/* BMI CALC STYLING */
.bmicalculator {
	text-align: center;
}
fieldset {
	width: 300px;
	margin: auto;
	border: 5px solid #43BCCD;
	box-shadow: 1px 1px #cccccc;
}

input {
	margin-top: 10px;
	display: block;
	text-align: right;
	width: 128px;
}

#bmi_label {
	width: 200px;
}

#bmi {
	width: 66px;
}

#intro {
	width: 300px;
	margin: auto;
	padding: 10px;
	border: 5px solid #43BCCD;
	box-shadow: 1px 1px #cccccc;
}

/* CALENDAR */
.card-panel {
	background-color: #43BCCD;
	width: 300px;
}