/* NAV BAR STYLING */
.nav-wrapper {
    background-color: #43BCCD;
}

.nav-content {
    background: #f86624;
}

/* START PAGE STYLING */
.startpage h2 {
    text-align: center;
}
.startpage {
    background: #EA3546;
}

/* HOME PAGE STYLING */
.card-content {
    background-color: #F9C80E;
}

.tabs {
    background: #662E9B;
}

.card-contentbot {
    background: #EA3546;
}